@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  --border-soft: #e8e9ea;
  --hover-soft: #F3F4F4;
  --extra-color: #F3CA4D;
  --text-secondary: #677084;
  --content-width: 1150px;

  /* --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif; */
}

@keyframes nav-slide-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes profile-drop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Inter", sans-serif;
}